:host {
  display: block;
  overflow: auto;
  & table {
    border: 0;
    border-bottom: 1px solid #ddd;
  }
}
table {
  table-layout: fixed;
  width: 100%;
  margin-bottom: 0;
  & tr.active{
    color: #3d4cff;
  }
}
thead.sizing-thead th {
  padding: 0 !important;
  border-width: 0;
}
tbody.dummy-rows, tbody.visible-rows {
  border-top: none;
}
