$borderRadius: 8px;
@mixin bgFontColor(){
  background-color: transparent;
  color: #ffffff;
}
.inline {
  display: inline-block;
  & .total {
    float: right;
  }
  & input {
    max-width: 54px;
    height: 22px;
    padding: 3px 6px;
  }
  & .input-group-addon{
    width: auto;
    padding: 3px 6px;
    @include bgFontColor();
    border: 0;
  }
  & .input-group-addon:first-child{
    border-top-left-radius: $borderRadius;
    border-bottom-left-radius: $borderRadius;
  }
  & .input-group-addon:last-child{
    border-top-right-radius: $borderRadius;
    border-bottom-right-radius: $borderRadius;
  }
  & a, input-group-addon, input{
    @include bgFontColor();
  }
}
.inline.pagination {
  margin: 12px 0;
  & .active > a {
    border-color: #45a9ff;
  }
}
.inline.total {
  line-height: 45px;
}


