<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <work-card cardTitle="Inline Form" baCardClass="with-scroll">
        <inline-form></inline-form>
      </work-card>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <div>
        <work-card cardTitle="Basic Form" baCardClass="with-scroll">
          <basic-form></basic-form>
        </work-card>
      </div>

      <div>
        <work-card cardTitle="Horizontal Form" baCardClass="with-scroll">
          <horizontal-form></horizontal-form>
        </work-card>
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <work-card cardTitle="Form Without Labels" baCardClass="with-scroll">
          <without-labels-form></without-labels-form>
        </work-card>
      </div>
      <div>
        <work-card cardTitle="Block Form" baCardClass="with-scroll">
          <block-form></block-form>
        </work-card>
      </div>
    </div>
  </div>
</div>
