<form class="inline">
  <div class="input-group">
    <span class="input-group-addon">显示</span>
    <input type="number" class="form-control" value="10" aria-label="Amount (to the nearest dollar)">
    <span class="input-group-addon"></span>
    <span class="input-group-addon">第</span>
    <input type="number" class="form-control" aria-label="Amount (to the nearest dollar)">
    <span class="input-group-addon">页</span>
    <span class="input-group-addon">共 <b class="pagingNumber">52</b> 页</span>
  </div>
</form>
<ul class="pagination inline">
  <li class="previous"><a href="#">&larr; 上一页</a></li>
  <li class="active"><a href="#">1</a></li>
  <li class="disabled"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li class="next"><a href="#">下一页 &rarr;</a></li>
</ul>
