<table [ngClass]="tableClasses">
  <thead class="sizing-thead">
  <tr>
    <th scope="col" *ngFor="let column of state.columns" super-table-header [column]="column" [noHeight]="true"></th>
  </tr>
  </thead>
  <tbody
    class="dummy-rows"
    super-table-dummy-rows
    [columnCount]="state.columns.length"
    [rowHeight]="rowHeight"
    [rowCount]="rowOffset">
  </tbody>
  <tbody class="visible-rows">
  <tr *ngFor="let row of visibleRows" super-table-row [row]="row" (click)="activeRow($event.currentTarget, row)" (dblclick)="dblclickRow(row)"></tr>
  </tbody>
  <tbody
    class="dummy-rows"
    super-table-dummy-rows
    [columnCount]="state.columns.length"
    [rowHeight]="rowHeight"
    [rowCount]="rows.length - rowOffset - visibleRows.length - 1">
  </tbody>
</table>
