<div *ngIf="!noHeight" class="table-header-div" [title]="SORT_TITLE">
      <span *ngIf="column.def.sort" class="sort-icon">
        <span [ngSwitch]="column.sortOrder">
          <span class="asc-sort glyphicon glyphicon-sort-by-attributes" *ngSwitchCase="'ASC'"></span>
          <span class="desc-sort glyphicon glyphicon-sort-by-attributes-alt" *ngSwitchCase="'DESC'"></span>
          <span class="no-sort glyphicon glyphicon-sort" *ngSwitchDefault></span>
        </span>
      </span>
  {{ getValue() }}
</div>
<div *ngIf="!noHeight && !column.def.lockWidth" super-table-resizer [column]="column"></div>
