
<div class="horizontal-scroll search-table">
  <table class="table table-hover">
    <thead>
    <tr class="black-muted-bg">
      <th class="browser-icons"></th>
      <th ><div class="input">Browser</div></th>
      <th class="align-right"></th>
      <th class="table-arr"></th>
      <th class="align-right"><div class="input">Purchases</div></th>
      <th class="table-arr"></th>
      <th class=" align-right"><div class="input">PurchasesVisits%PurchasesVisits</div></th>
      <th class="table-arr"></th>
      <th class=" align-right"><div class="input">Visits</div></th>
      <th class="table-arr"></th>
      <th class=" align-right"><div class="input">Purchases</div></th>
      <th class="table-arr"></th>
      <th class=" align-right"><div class="input">%</div></th>
      <th class="table-arr"></th>
      <th class=" align-right"><div class="input">Visits</div></th>
      <th class="table-arr"></th>
      <th class=" align-right"><div class="input">Purchases</div></th>
      <th class="table-arr"></th>
      <th class=" align-right"><div class="input">%</div></th>
      <th class="table-arr"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="no-top-border" >
      <td><span class="clean-up" (click)="cleanUp($event)"><i class="ion-close-round"></i></span></td>
      <td class="input nowrap"><input type="text" [(ngModel)]="value.browser"  ></td>
      <td class="align-right" ></td>
      <td class="table-arr"><i ></i></td>
      <td class="input align-right"><input type="text" [(ngModel)]="value.browser"  ></td>
      <td class=" table-arr"><i ></i></td>
      <td class="input align-right"><input type="text" [(ngModel)]="value.purchases" ></td>
      <td class="table-arr"><i ></i></td>
      <td class="input align-right"><input type="text" [(ngModel)]="value.visits" ></td>
      <td class="table-arr"><i></i></td>
      <td class="input align-right"><input type="text" [(ngModel)]="value.purchases" ></td>
      <td class=" table-arr"><i></i></td>
      <td class="input align-right"><input type="text" [(ngModel)]="value.percent" ></td>
      <td class=" table-arr"><i ></i></td>
      <td class="input align-right"><input type="text" [(ngModel)]="value.visits" ></td>
      <td class="table-arr"><i></i></td>
      <td class="input align-right"><input type="text" [(ngModel)]="value.purchases" ></td>
      <td class="table-arr"><i></i></td>
      <td class="input align-right"><input type="text" [(ngModel)]="value.percent" ></td>
      <td class="table-arr"><i></i></td>
    </tr>
    </tbody>
  </table>
</div>
